<div ng-include="'templates/assessments/questions.html'"></div>
<script type="text/ng-template" id="16">
    <div class="SC_audioContainer">
        <div class="text-center">
            <!-- <uib-progressbar class="progress-striped_1 active_1" max="re.oAudio.nMaxTime" value="re.oAudio.nSpentTime" type="{{re.oAudio.sType}}" ng-show="re.oAudio.bShowProgressBar"></uib-progressbar> -->
            <md-button class="md-raised md-primary" ng-click="re.Helper.PlayNext('next')" ng-show="re.bShowStartButton">{{re.sTextOnPlayButton}}</md-button>
        </div>
        <div class="SC_Asmnt2_Letter">{{re.oAudio.displayedResponse}}</div>
        <div class="SC_Asmnt4_Letter" ng-show="re.oAudio.bShowInstructionText">{{re.oAudio.sInstruction}}</div>
        <div class="SC_Asmnt3_Letter">
            <div class="SC_ReadingContainer" ng-show="re.oAudio.sParagraph">{{re.oAudio.sParagraph}}</div>
            <div class="SC_VideoRecorder">
                <video class="SC_VideoControl" autoplay></video>
                <div id="webcamcontrols">
                    <button class="btn btn-success btn-md" ng-show="false" ng-click="re.Helper.StartRecording();">Start</button>
                    <md-button class="md-raised md-warn" ng-show="re.oVideoRecorder.recordingState === 'recording'" ng-click="re.oVideoRecorder.StopRecording();">Stop</md-button>                    
                </div>
            </div>
        </div>
</script>
